body{
    background: url(chairs.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    top: 0;
    left: 0;
    background: #4b2f45;
    padding: 0px 20px;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
}

.section-one {
    zoom: 1.2;
    margin: 0px auto;
    background: #fff;
    padding: 0 0;
    margin-top: 60px;
    text-align: center;
    border-radius: 10px;
    color: #666;
    box-shadow: 2px 2px 4px rgb(0, 0, 0, .25);
    width: 40%;
}
header .logo {
    line-height: 50px;
    color: #fff;
    font-size: 100%;
    float: left;
    font-weight: bold;
    padding: 0px 0px;
}

header nav {
    float: right;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    line-height: 50px;
    padding: 0 10px;
    color: #fff;
    text-decoration: none;
    display: block;
}

header nav ul li a:hover,
header nav ul li a.active {
    color: #fff;
    background: #666666;
}

.menu-toggle {
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.info {
    padding: 10px;
  }

  h1, h2, p {
    text-align: center;
    padding: 0px;
    margin: 15px 5px;
  }

  h1 {
      font-family: 'Raleway', sans-serif;
      font-size: 35px;
  }

  h2 {
    font-family: 'Great Vibes',cursive;
    font-weight: 100;
    font-size: 30px;
  }

  p {
      font-size: 25px;
  }

  label {
    font-size: 15px;
    color: #666;
    padding: 6px;
    margin: -10px auto -20px;
    display: block;
    width: 75%; 
    text-align: center;
  }

  input:focus {
    outline: 0;
  }

  input {
      padding: 5px;
      margin: 10px 0px;
  }

  .buttons-forms {
      margin-top: 10px;
  }

  button {
    color: #fff;
    background-color:  #4b2f45;
    font-family: 'Raleway';
    font-size: 15px;
    font-weight: 600;
    width: 50%;
    margin: 10px auto 0px auto; 
    float:left;
    height: 50px;
  }
  button.RSVP {
    border-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  button.UnableToMakeIt {
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
    
  button:hover {
    background-color:  #4b2f45;
    transition: .3s;
    border: 4px solid #fff;
  }
  
  button:focus {
    outline: 0;
  }

  input {
      width: 90%;
      text-align: center;
  }

  /* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    header {
        padding: 0 20px;
    }
    .menu-toggle {
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #4b2f45;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }

    header nav.active {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }

    header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, 2);
    }

    button:hover {
        background-color:  #4b2f45;
        transition: .3s;
        border: 4px solid #fff;
      }

    .section-one {
        width: 90%;
    }
}

/* Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    header {
        padding: 0 20px;
    }
    .menu-toggle {
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #4b2f45;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }

    header nav.active {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }

    header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, 2);
    }

    button:hover {
        background-color:  #4b2f45;
        transition: .3s;
        border: 4px solid #fff;
      }
    
      .section-one {
          width: 65%;
      }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    header {
        padding: 0 20px;
    }
    .menu-toggle {
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #4b2f45;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }

    header nav.active {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }

    header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, 2);
    }

    button:hover {
        background-color:  #4b2f45;
        transition: .3s;
        border: 4px solid #fff;
      }
}

/* Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    header {
        padding: 0 20px;
    }
    .menu-toggle {
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #4b2f45;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }

    header nav.active {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }

    header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, 2);
    }

    button:hover {
        background-color:  #4b2f45;
        transition: .3s;
        border: 4px solid #fff;
      }

      .section-one {
        width: 65%;
    }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) { 
    header {
        padding: 0 20px;
    }
    .menu-toggle {
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #4b2f45;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }

    header nav.active {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }

    header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, 2);
    }

    button:hover {
        background-color:  #4b2f45;
        transition: .3s;
        border: 4px solid #fff;
      }

    h1 {
        font-size: 30px;
        margin: 10px 10px;
    }

    h2 {
        font-size: 30px;
        margin: 10px 10px;
    }

    p {
        font-size: 20px;
        margin: 10px 10px;
    }
     
    hr {
        margin: 15px
    }

    label {
        font-size: 18px;
    }

    input {
        zoom: 1.3;
    }
}

/* Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) { 
    header {
        padding: 0 20px;
    }
    .menu-toggle {
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #4b2f45;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }

    header nav.active {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }

    header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, 2);
    }

    button:hover {
        background-color:  #4b2f45;
        transition: .3s;
        border: 4px solid #fff;
      }
      .section-one {
        width: 65%;
    }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 410px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) { 
    header {
        padding: 0 20px;
    }
    .menu-toggle {
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #4b2f45;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }

    header nav.active {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }

    header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, 2);
    }

    button:hover {
        background-color:  #4b2f45;
        transition: .3s;
        border: 4px solid #fff;
      }

    h1 {
        font-size: 30px;
        margin: 10px 10px;
    }

    h2 {
        font-size: 30px;
        margin: 10px 10px;
    }

    p {
        font-size: 20px;
        margin: 10px 10px;
    }
     
    hr {
        margin: 15px
    }

    label {
        font-size: 18px;
    }

    input {
        zoom: 1.3;
    }
    button {
        zoom: 1.3;
    }

}

/* Landscape */
@media only screen 
and (min-device-width: 411px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) { 
    header {
        padding: 0 20px;
    }
    .menu-toggle {
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #4b2f45;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }

    header nav.active {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }

    header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, 2);
    }

    button:hover {
        background-color:  #4b2f45;
        transition: .3s;
        border: 4px solid #fff;
      }

      .section-one {
        width: 65%;
    }

    h1 {
        font-size: 30px;
        margin: 10px 10px;
    }

    h2 {
        font-size: 30px;
        margin: 10px 10px;
    }

    p {
        font-size: 20px;
        margin: 10px 10px;
    }
     
    hr {
        margin: 15px
    }

    label {
        font-size: 18px;
    }

    input {
        zoom: 1.3;
    }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) { 
    header {
        padding: 0 20px;
    }
    .menu-toggle {
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #4b2f45;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }

    header nav.active {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }

    header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, 2);
    }

    button:hover {
        background-color:  #4b2f45;
        transition: .3s;
        border: 4px solid #fff;
      }

    h1 {
        font-size: 30px;
        margin: 10px 10px;
    }

    h2 {
        font-size: 30px;
        margin: 10px 10px;
    }

    p {
        font-size: 20px;
        margin: 10px 10px;
    }
     
    hr {
        margin: 15px
    }

    label {
        font-size: 18px;
    }

    input {
        zoom: 1.3;
    }
    button {
        zoom: 1.3;
    }
}

/* Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) { 
    header {
        padding: 0 20px;
    }
    .menu-toggle {
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #4b2f45;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }

    header nav.active {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }

    header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, 2);
    }

    button:hover {
        background-color:  #4b2f45;
        transition: .3s;
        border: 4px solid #fff;
      }

      .section-one {
        width: 65%;
    }

    h1 {
        font-size: 30px;
        margin: 10px 10px;
    }

    h2 {
        font-size: 30px;
        margin: 10px 10px;
    }

    p {
        font-size: 20px;
        margin: 10px 10px;
    }
     
    hr {
        margin: 15px
    }

    label {
        font-size: 18px;
    }

    input {
        zoom: 1.3;
    }
}
/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
    header {
        padding: 0 20px;
    }
    .menu-toggle {
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #4b2f45;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }

    header nav.active {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }

    header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, 2);
    }

    button:hover {
        background-color:  #4b2f45;
        transition: .3s;
        border: 4px solid #fff;
      }

    h1 {
        font-size: 30px;
        margin: 10px 10px;
    }

    h2 {
        font-size: 30px;
        margin: 10px 10px;
    }

    p {
        font-size: 20px;
        margin: 10px 10px;
    }
     
    hr {
        margin: 15px
    }

    label {
        font-size: 18px;
    }

    input {
        zoom: 1.3;
    }
    button {
        zoom: 1.3;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    header {
        padding: 0 20px;
        zoom: 1.4;
    }
    .menu-toggle {
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #4b2f45;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }

    header nav.active {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }

    header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, 2);
    }

    button:hover {
        background-color:  #4b2f45;
        transition: .3s;
        border: 4px solid #fff;
      }

    h1 {
        font-size: 30px;
        margin: 10px 10px;
    }

    h2 {
        font-size: 30px;
        margin: 10px 10px;
    }

    p {
        font-size: 20px;
        margin: 10px 10px;
    }
     
    hr {
        margin: 15px
    }

    label {
        font-size: 18px;
    }

    input {
        zoom: 1.3;
    }
    button {
        zoom: 1.3;
    }
    .section-one {
        zoom: 1.4;
        width: 85%;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    header {
        padding: 0 20px;
    }
    .menu-toggle {
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #4b2f45;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }

    header nav.active {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }

    header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, 2);
    }

    button:hover {
        background-color:  #4b2f45;
        transition: .3s;
        border: 4px solid #fff;
      }

    h1 {
        font-size: 35px;
        margin: 10px 10px;
    }

    h2 {
        font-size: 35px;
        margin: 10px 10px;
    }

    p {
        font-size: 25px;
        margin: 10px 10px;
    }
     
    hr {
        margin: 15px
    }

    label {
        font-size: 28px;
    }

    input {
        zoom: 1.5;
    }
    .section-one {
        width: 60%;
    }
    button {
        zoom: 1.5
    }
}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 834px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    header {
        padding: 0 20px;
    }
    .menu-toggle {
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #4b2f45;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }

    header nav.active {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }

    header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, 2);
    }

    button:hover {
        background-color:  #4b2f45;
        transition: .3s;
        border: 4px solid #fff;
      }    

    h1 {
        font-size: 35px;
        margin: 10px 10px;
    }

    h2 {
        font-size: 35px;
        margin: 10px 10px;
    }

    p {
        font-size: 25px;
        margin: 10px 10px;
    }
     
    hr {
        margin: 15px
    }

    label {
        font-size: 25px;
    }

    input {
        zoom: 1.3;
    }
    button {
        zoom: 1.3;
    }

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1112px) 
  and (max-device-width: 1112px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    header {
        padding: 0 20px;
    }
    .menu-toggle {
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #4b2f45;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }

    header nav.active {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }

    header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, 2);
    }

    button:hover {
        background-color:  #4b2f45;
        transition: .3s;
        border: 4px solid #fff;
      }

      .section-one {
        width: 65%;
    }

    h1 {
        font-size: 30px;
        margin: 10px 10px;
    }

    h2 {
        font-size: 30px;
        margin: 10px 10px;
    }

    p {
        font-size: 20px;
        margin: 10px 10px;
    }
     
    hr {
        margin: 15px
    }

    label {
        font-size: 18px;
    }

    input {
        zoom: 1.3;
    }
}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    header {
        padding: 0 20px;
    }
    .menu-toggle {
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #4b2f45;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }

    header nav.active {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }

    header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, 2);
    }

    button:hover {
        background-color:  #4b2f45;
        transition: .3s;
        border: 4px solid #fff;
      }

    h1 {
        font-size: 30px;
        margin: 10px 10px;
    }

    h2 {
        font-size: 30px;
        margin: 10px 10px;
    }

    p {
        font-size: 20px;
        margin: 10px 10px;
    }
     
    hr {
        margin: 15px
    }

    label {
        font-size: 18px;
    }

    input {
        zoom: 1.3;
    }
    button {
        zoom: 1.3;
    }
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    header {
        padding: 0 20px;
    }
    .menu-toggle {
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #4b2f45;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }

    header nav.active {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }

    header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, 2);
    }

    button:hover {
        background-color:  #4b2f45;
        transition: .3s;
        border: 4px solid #fff;
      }

      .section-one {
        width: 65%;
    }

    h1 {
        font-size: 30px;
        margin: 10px 10px;
    }

    h2 {
        font-size: 30px;
        margin: 10px 10px;
    }

    p {
        font-size: 20px;
        margin: 10px 10px;
    }
     
    hr {
        margin: 15px
    }

    label {
        font-size: 18px;
    }

    input {
        zoom: 1.3;
    }
}
